.search-hero {
    background-image:
        linear-gradient(
            to right,
            rgba(0, 0, 0, 0.65) 0%,
            rgba(0, 0, 0, 0.4) 45%,
            rgba(0, 0, 0, 0.1) 75%,
            transparent 100%
        ),
        url(../assets/search-hero-mobile.png);

    background-position: left center;
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;

    display: flex;
    flex-direction: column;
}

.search-hero-content {
  width: 280px;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translate(1rem, 30px);
}

.search-cocktails-container {
    padding-top: 50px;
}

.search-hero-content h1 {
    font-family: var(--heading-font);
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-primary);
    margin: 2rem 0 0.5rem;
    line-height: 1.2;
    padding-left: 10px;
}

.search-hero-content p {
    font-family: var(--heading-font);
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--gold);
    margin: 0;
    padding-left: 10px;
}

.form-container {
    width: 260px;
    margin-top: 1rem;
    align-self: center;
}

.form-container form {
    display: flex;
    width: 100%;
}

.form-container input {
    flex: 1;
    min-width: 0;
    height: 42px;
    padding: 0.5rem 1rem;

    font-family: var(--primary-font);
    font-size: 0.9rem;
    color: var(--text-primary);

    background-color: rgba(17, 16, 15, 0.6);
    border: 1px solid var(--gold);
    outline: none;

    border-radius: 8px 0 0 8px;
}

.form-container button {
    height: 42px;
    padding: 0 1rem;

    font-family: var(--primary-font);
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text-primary);
    background-color: rgba(19, 129, 123, 0.9);
    border: 1px solid var(--gold);

    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

.search-heading {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.search-title {
    color: var(--gold);
    font-size: 1.8rem;
}

.search-heading .results-line {
    flex: 1;
    height: 1px;
    background: linear-gradient(
        to right,
        transparent,
        var(--gold),
        transparent
    );
    filter: drop-shadow(0 0 4px var(--gold));
}



.search-results-grid {
    display: grid;
    justify-content: center;
    gap: 2rem;
}

@media screen and (min-width: 768px) {

    .search-hero-content {
        transform: translate(80px, 120px);
    }

    .search-hero {
        background-image: url(../assets/search-hero.png);
        background-position: 60% center;
    }

    .search-hero-content {
        width: 440px;
        text-align: center;
    }

    .search-hero-content h1 {
        font-size: 3.5rem;
        margin-left: 0;
    }

    .search-hero-content p {
        font-size: 1.5rem;
    }

    .form-container {
        width: 440px;
        transform: none;
    }

    .form-container input {
        height: 50px;
    }

    .form-container button {
        height: 50px;
        padding: 0 1.5rem;
        font-size: 1.3rem;
    }

    .search-results-grid {
        grid-template-columns: repeat(2, 300px);
    }
}

@media screen and (min-width: 992px) {

    .search-hero-content {
        transform: translate(120px, 120px);
    }

    .search-results-grid {
        grid-template-columns: repeat(3, 300px);
    }
}

@media screen and (min-width: 1200px) {

    .search-hero-content {
        transform: translate(260px, 160px);
    }
}